/* Color Variables */
:root {
    --black: #000000;
    --white: #ffffff;
    --blue-header: #0A222C;
    --blue-main: #071820;
    --blue-book-window: #0F3340;
    --blue-section-separator: #63A2BD;
    --red-price: #E75F53;
    --red-like: #FE5B4E;
    --blue-input-text: #124758;
    --blue-input-placeholder: #6E95A3;
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

hide {
    display: none;
}

html {
    scroll-behavior: smooth;

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    div.checkbox {
        display: flex;
        justify-content: center;
        gap: 8px;
        color: var(--white);
        background-color: var(--blue-header);
        padding-left: 12px;
        width: 100%;
    }

    main {
        background-color: var(--blue-main);
        display: flex;
        flex-grow: 1;
        justify-content: center;

        div.wrapper {
            padding: 24px 140px;
            max-width: 1440px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 12.5px;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
        }
    }

    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: bold;
        color: var(--white);
    }
}

header {
    height: 112px;
    background-color: var(--blue-header);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 140px;
    flex-shrink: 0;

    div.wrapper {
        width: 100%;
        max-width: 1440px;
        max-height: 112px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;

        .logo {
            img {
                height: 64px;
                background-color: var(--blue-header);
            }
        }
    }
}

footer {
    height: 144px;
    background-color: var(--blue-header);
    padding: 0px 140px;

    div.wrapper {
        width: 100%;
        max-width: 1440px;
    }
}

@media (min-width: 768px) and (max-width: 1280.9px) {
    html {
        main {
            div.wrapper {
                padding: 24px 46px;
                grid-template-columns: repeat(2, auto);
                gap: 26px;
            }
        }

        h1 {
            font-size: 38px;
        }
    }

    header {
        height: 112px;
        padding: 0px 24px;

        div.wrapper {
            .logo {
                img {
                    height: 46px;
                }
            }
        }
    }

    footer {
        height: 144px;
        padding: 0px 24px;
    }
}

@media (max-width: 767.99px) {
    html {
        main {
            div.wrapper {
                padding: 10px 10px;
                grid-template-columns: repeat(1, 1fr);
            }
        }

        h1 {
            display: none;
        }
    }

    header {
        height: 64px;
        padding: 0px 10px;

        div.wrapper {
            .logo {
                img {
                    height: 36px;
                }
            }
        }
    }

    footer {
        height: 86px;
        padding: 0px 10px;
    }
}