div.book_window{
    background-color: var(--blue-book-window);
    height: 650px;
    width: 325px;
    border-radius: 8px;
    overflow-y: auto;
    section.Book_Title{
        border-bottom: solid var(--blue-section-separator);
        height: auto;
        min-height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            padding: 12px;
            font-size: 26px;
            text-align: center;
            color: var(--white);
        }
    }
    section.Book_Img{
        border-bottom: solid var(--blue-section-separator);
        height: auto;
        background-image: radial-gradient(var(--blue-section-separator) 40%, var(--blue-book-window) 100%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        div{
            padding: 12px 0px;
            img{
                height: 150px;
            }
        }
    }
    section.Book_Details{
        border-bottom: solid var(--blue-section-separator);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        div{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 12px;
            p{
                color: var(--red-price);
                text-align: left;
                font-size: 26px;
                font-weight: 700;
            }
            div.Book_Likes{
                gap: 10px;
                p{
                    color: var(--white);
                    font-size: 20px;
                }
                img{
                    height: 36px;
                    cursor: pointer;
                }
                img:hover {
                -webkit-filter: drop-shadow(1px 1px 5px var(--red-like));
                filter: drop-shadow(1px 1px 1px var(--red-like));
            }
            }
        }
        table{
            padding: 0 12px 12px 12px;
            font-size: 16px;
            tbody{
                tr{
                    th{
                        text-align: left;
                        vertical-align: center;
                        color: var(--white);
                        width: 42%;
                    }
                    td{
                        text-align: left;
                        vertical-align: center;
                        color: var(--white);
                        width: 58%;
                    }
                }

            }
        }

    }
    section.Book_Comments{
        padding: 12px;
        div.table{
            height: 150px;
            overflow-y: auto;
            display: flex;
            align-content: flex-start;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            table{
                width: 100%;
                font-size: 16px;
                margin-top: auto;
                caption{
                    padding-bottom: 8px;
                    text-align: left;
                    font-weight: 700;
                    color: var(--white);
                }
                tbody{
                    tr{
                        th{
                            text-align: left;
                            vertical-align: top;
                            font-weight: 400;
                            color: var(--white);
                            width: 42%;
                            padding: 10px 0px;
                        }
                        td{
                            text-align: left;
                            vertical-align: top;
                            font-weight: 400;
                            color: var(--white);
                            width: 58%;
                            padding: 10px 0px;
                        }
                    }
                }
            }
        }
        div{
            padding-top: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            img{
                height: 28px;
                cursor: pointer;
            }
            img:hover {
                -webkit-filter: drop-shadow(1px 1px 5px var(--blue-section-separator));
                filter: drop-shadow(1px 1px 5px var(--blue-section-separator));
            }
            input{
                height: 28px;
                text-align: left;
                color: var(--white);
                border: none;
                border-bottom: solid var(--blue-section-separator);
                background-color: var(--blue-input-text);
            }
            input::placeholder {
                color: var(--blue-input-placeholder);
                opacity: 1;
            } 
            input::-ms-input-placeholder {
                color: var(--blue-input-placeholder);
            }

        }
    }
}

@media (max-width: 767.99px) {
    div.book_window{
    width: 300px;
    }
}